:root{
  font-size: 18px;
  font-family: Helvetica;
  --calico: rgba(222, 191, 142);
  --madison:rgba(11, 54, 104);
  --pigeon-post: rgba(180, 202, 222);
  --comet: rgb(86, 98, 118);
  --pampas: rgba(235, 231, 224);
  --astral: rgba(53, 120, 178);
  --cloudy: rgb(178, 177, 175);
  --mine-shaft: rgba(39, 39, 39);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}


.main-container{
  background-color: var(--madison);
  color: var(--pampas);
  width: 100%;
  min-height: 96vh;
  overflow-y: auto;
  justify-items: center;
  height: fit-content;
}

.navbar{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--calico)
}

.navbar > a {
  color: var(--madison);
  text-decoration: none;
  font-weight: bold;
}

.content{
  width: 80%;
}

.page-header{
  color: var(--pampas);
  text-align: center;
  /* text-shadow: var(--calico) 0px 1px 10px; */
}

.page-subheader{
  text-align: center;
  font-weight: lighter;
  color: var(--pampas);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.filter-label{
  font-size: 1.1rem;
}

.label-p1{
  text-align: left;
}

.label-details{
  text-align: center;
}

.label-p2{
  text-align: right;
}

.filters-section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.filters-section:last-child{
  margin-bottom: 0;
}

.filter-input{
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--mine-shaft);
  color: var(--pampas);
  border-radius: 8px;
  border: var(--astral) solid 1px;
  appearance: base-select;
}

option{
  color: var(--pampas);
}

.filter-input::picker-icon{
  transition: 0.2s rotate;
  padding-right: 0.25rem;
}

.filter-input:open::picker-icon{
  rotate: 180deg;
  color: var(--pampas);
}

.search-container{
  width: 80%;
  justify-self: center;
  margin: 1rem 0;
}

.search-button{
  width: 100%;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: var(--calico);
  color: var(--madison);
}

.gl-label{
  background-color: var(--calico);
  color: var(--madison);
  display: block;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0.5rem;
}

.list-container{
  /* background-color: purple; */
  justify-self: center;
  width: 100%;
}

.game-list{
  list-style: none; 
}

.game-list-item{
  display: flex;
  justify-content:space-around;
  background-color: var(--comet);
  border-radius: 8px;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0;
}

.item-section{
  width: 33%;
  display: flex;
  flex-direction: column;
  
}

.player-one, .player-two{
  text-align: center;
  display: flex;
}

.player-name{
  font-size: 0.7rem;
  padding: 0.2rem;
  color: var(--calico);
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-data{
  gap: 0.2rem;
  text-align: center;
  justify-content: center;
}

.winner-count{
  color: rgb(109, 218, 109);
}

.loser-count{
  color: rgb(242, 87, 87);
}

.set-tournament{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-date{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.set-result{
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 3rem;
  align-self: center;
  background-color: var(--mine-shaft);
  border-radius: 8px;
}

.set-result > span{
  font-weight: bolder;
}

.set-link{
  color: var(--calico);
  width: 3rem;
  align-self: center;
}

.player-character{
  align-self: center;
  width: 75px;
  height: 75px;
}

.winner-char{
  animation: winner-glow 3s linear infinite;
}

.loser-char{
  animation: loser-glow 3s linear infinite;
}

.help-button{
  position: absolute;
  top: -40px;
  right: 10px;
  display: inline-block;
  margin-top: 3rem;
  background-color: var(--pampas);
  z-index: 10;
  border-radius: 50%;
  padding: 0.1rem;
  animation: help-glow 3s linear infinite;
}

.help-icon{
  vertical-align: middle;
}

.help-button:hover{
  cursor: pointer;
}

.help-button:active{
  background-color: var(--cloudy);
}

.help-dialog{
  background-color: rgba(235, 231, 224, 0.2);
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  overflow-y: scroll;
}

.faq{
  background-color: var(--madison);
  color: var(--pampas);
  width: 95%;
  padding: 0.3rem;
  border-radius: 8px;
}

.faq-list{
  list-style: none;
  padding: 0.2rem;
}

.faq-list-item{
  margin-bottom: 1rem;
}

.faq-list-item-text > a{
  color: var(--calico);
  text-decoration: none;
}


.faq-list-item-title{
  text-align: center;
}

.faq-list-item-text{
  padding: 0.3rem;
  line-height: 1.5rem;
}

#close-dialog{
  background-color: var(--pampas); 
  border-radius: 50%; 
  border: 3px solid var(--calico); 
  float: right; 
  z-index: 20;
}

#close-dialog:hover{
  cursor: pointer;
}

#close-dialog:active{
  background-color: var(--cloudy);
}

.paginator{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: text-bottom;
  
}

.paginator-buttons{
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}

.prev, .next{
  background-color: var(--calico);
  color: var(--madison);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 6px;
  text-align: center;
  border: 1px solid var(--astral);
}

.prev:hover, .next:hover, .jump-button:hover{
  cursor: pointer;
}

.prev

.prev:active, .next:active{
  background-color: var(--astral);
}

.page{
  font-weight: bolder;
  line-height: 1.5rem;
  color: var(--calico);
}

.next{
}

.paginator-jump{
  width: 50%;
  text-align: center;
}

.jump-button{
  background-color: var(--astral);
  color: var(--calico);
  text-decoration: underline;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}

.jump-button:active{
background-color: var(--mine-shaft);
}

.jump{
  text-align: center;
  background-color: var(--astral);
  color: var(--calico);
  width: 1.5rem;
  height: 1.8rem;
  border: none;
  border-radius: 8px;
  font-weight: bolder;
}

.jump:active, .jump:focus{
  outline: none;
  border: none;
}

.jump::-webkit-outer-spin-button, .jump::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


@keyframes winner-glow {
  0%{
    filter: drop-shadow(0px 0px 4px lime);
  }
  50%{
    filter: drop-shadow(0px 0px 4px darkgreen);
  }
  100%{
    filter: drop-shadow(0px 0px 4px lime);
  }
}

@keyframes loser-glow {
  0%{
    filter: drop-shadow(0px 0px 4px red);
  }
  50%{
    filter: drop-shadow(0px 0px 4px darkred);
  }
  100%{
    filter: drop-shadow(0px 0px 4px red);
  }
}

@keyframes help-glow {
  0%{
    filter: drop-shadow(0px 0px 8px var(--pampas));
  }
  50%{
    filter: drop-shadow(0px 0px 4px var(--astral));
  }
  100%{
    filter: drop-shadow(0px 0px 8px var(--pampas));
  }
}

@media screen and (min-width: 1200px) {

  .main-container{
    min-height: 95.8vh;
  }

  .navbar{
    justify-content: space-around;
  }

  .page-header{
    margin: 1rem 0;
    font-size: 2.3rem;
  }

  .page-subheader{
    text-decoration: underline;
  }

  .search-button{
    font-size: 1.2rem;
  }

  .gl-label{
    display: flex;
    
  }

  .gl-label > span {
    font-size: 1.2rem;
    width: 33%;
  }

  .content{
    width: 65%;
  }

  .player-character{
    align-self: center;
    width: 100px;
    height: 100px;
  }
  .player-name{
    font-size: 1rem;
  }
  .filter-input{
    font-size: 1rem;
  }

  .filters{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }
  
  .filters-section{
    width: 33%;
  }

  .label-p1{
    padding-left: 0.5rem;
  }

  .label-p2{
    padding-right: 0.5rem;
  }

  .help-dialog{
    background-color: rgba(235, 231, 224, 0.4);
  }

  .faq{
    background-color: var(--madison);
    color: var(--pampas);
    width: 55%;
    padding: 0.3rem;
  }

  .faq-list{
    list-style: none;
    padding: 1rem;
  }

  .faq-list-item-title{
    text-align: center;
    font-size: 1.4rem;
  }

  .faq-list-item-text{
    padding: 0.3rem;
    line-height: 1.5rem;
  }
}

.hidden{
  display: none;
}